.page-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Center children horizontally */
  text-align: center; /* Center text inside container */
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
