.page-container {
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Center children horizontally */
  text-align: center; /* Center text inside container */
}

.logo-graphic img { 
  max-height: 80vh; /* Container does not exceed viewport height */
  max-width: 90vw;
}

.main-about {
  margin: 30px 0px 30px 0px; 
  padding: 150px 0px 150px 0px;
  background-color: #000; /* Optional: background color inside the box */
  width: 100vw;
}

.main-about p {
  padding-left: 100px;
  padding-right: 100px;
  text-align:left;
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .main-about p {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.black-button {
  text-decoration:none;
  background-color: green; /* Black background */
  display: inline-flex;
  justify-content: center; /* Centers the text horizontally */
  align-items: center;
  line-height: 50px;
  width: 300px;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 50px; /* Optional: rounded corners */
  padding: 10px 20px; /* Add padding */
  font-size: 30px; /* Set font size */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.black-button:hover {
  background-color: darkgreen; /* Darker black for hover effect */
}

.sponsors {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 50px;
}

.sponsors img {
  width: 300px; /* Controls the max width of each image */
  height: auto; /* Maintains the aspect ratio of images */
  flex: 0 0 350px; /* Grow, shrink, and maintain a minimum width of 200px */
}
