.home-container {
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Center children horizontally */
  text-align: center; /* Center text inside container */
}

.logo-graphic img { 
  max-height: 80vh; /* Container does not exceed viewport height */
  max-width: 90vw;
}

.main-about {
  border: 2px solid #000;
  padding: 20px; /* Space inside the border */
  margin: 20px; /* Space outside the border */
  background-color: #fff; /* Optional: background color inside the box */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for a 3D effect */
}

.black-button {
  background-color: black; /* Black background */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 4px; /* Optional: rounded corners */
  padding: 10px 20px; /* Add padding */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Show pointer cursor on hover */
  text-align: center; /* Center text */
  display: inline-block; /* Adjust width according to text */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.black-button:hover {
  background-color: #333; /* Darker black for hover effect */
}

.sponsors {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap: 50px;
}

.sponsors img {
  width: 300px; /* Controls the max width of each image */
  height: auto; /* Maintains the aspect ratio of images */
  flex: 0 0 350px; /* Grow, shrink, and maintain a minimum width of 200px */
}
